.body_background 
{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5723e15727d4bd23efcd25ed/1490999896470-D3EOLYKD0YGSCZR8SYK0/Justice+League+Title+Image.jpg?format=1500w");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color:aliceblue; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 300px;
	padding: 5px;
	border-style: ridge;
	border-width: 5px;
	border-color: chartreuse;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
